/*
.temp-fix-wrap { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: white; z-index: 100000;  }
*/
.fmt-workout-actions { display: inline-block; }
.timer { display: none; }
.exers.active { background: #5bc0de; }
#add-exercise-modal,
#add-workout-modal { margin: 0 auto; width: 70%; }
.workout-content { padding: 20px; }
.modal-title { display: inline-block; padding: 0; }
.pull-left { float: left; }
.pull-right { float: right; }
.disp-block { display: block; }
.is-included { margin-left: 15px; width: 20px!important; height: 20px!important; }
.hidden { display: none; }
#fmt-workout-select { width: 200px; }
.exer-avatar { width: 45px; height: 45px; background-size: cover!important; }
#fm-title { font-size: 20px; color: white; }
#fmt-user-name { font-style: italic; float: right; }
.heading { font-size: 50px; }
.text-center { margin-top: -5% !important; }
ul li { list-style: none; }

[ng-cloak], .ng-cloak {
  display: none !important;
}

/* Form Design */
.fmt-table th,td,a {
  color: #222;
  font-size: 15px !important;
  font-family: Arial !important;
  text-align:justify !important;
  vertical-align: middle !important;
}

.fmt-input {
  width: 80px;
  height: auto !important;
  font-size: 16px !important;
  padding: 5px !important;
}

.fmt-button {
  min-width: 90px;
  max-width: auto;
  height: auto !important;
  background: #eee;
  font-size: 20px !important;
  border: 1px solid #ddd;
  color: #222;
}

.fmt-button:hover {
  background: #fff;
}

form.fmt-form {
  width: 100%;
  height: 100%;
  display:block;
}

div.fmt-group {
  display: inline-block;
  width: 20%;
  height: auto;
  margin-right: 10px;
}

.fmt-group label {
  display: block;
  width: 100%;
  font-size: 16px !important;
  font-family: Arial;
}

.fmt-group input {
  display: block;
  width: 95.4%;
  font-size: 15px;
  padding: 5px;
}

.fmt-group select {
  display: block;
  width: 100%;
  height: auto !important;
  font-size: 15px;
  padding: 5px;
}

.fmt-group button {
  font-size: 16px;
  padding: 5px;
  width: 90px;
  background: #ddd;
  border: 1px solid #eee;
}

.fmt-group button:hover {
  background: #eee;
}

/* End form design */
#DataTables_Table_0_length, #DataTables_Table_0_info {
    float:left !important;
}

#DataTables_Table_0_filter {
    float: right !important;
}

/*navbar*/
#nav-logo {
    line-height: 3px;
}

.rest {
    color: #7F7471;
}

.set, .resume, .pause, .stop, .break {
    color: #3F403F;
}

.radio[type=radio] {
    width: 20px;
    height: 20px;
    background:indianred;
}

.navbar {
    background: black;
    border-radius: 0 !important;
    border-bottom: 4px solid yellow;
    border-top: none;
    border-left: none;
    border-right: none;
}

/*modal begin exercise*/
#myModal .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1000;
}
#myModal .modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

#myModal .modal-header {
    height: 10px;
    color: #fff;
    background: #112233;
    border: none !important;
}

/* NEW UI STYLE */
#counter-container {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 95.29vh;
  background: #112233;
}

/* Counter Information Head */
#counter-container #counter-information {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  display: inline-flex;
  display: inline-box;
  flex-direction: row;
  width: auto;
  height: auto;
}

#counter-information #information-box {
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-bottom: -180px;
}

/* Counter Time Information */
#counter-content {
  width: auto;
  height: auto;
}

#counter-content #state-label {
  width: auto;
  max-width: 300px;
  height: auto;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -15px;
}

#state-label h3 {
  font-size: 4em;
  color: #ddd;
  font-family: 'Arial';
  text-align:center;
  padding:0;
  margin: -5% 0 0 0;
}

#counter-content .timer-container {
  display: flex;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

#counter-content .timer-stats {
  display: flex;
  width: 65%;
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
}

#counter-content .timer-stats div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  height: auto;
  text-align:center;
  font-size: 22px;
}

#counter-content .timer-container .timer-box {
  display:inline-block;
  padding: 0;
  margin:0;
  font-size: 12vw;
  font-family: 'Arial' !important;
  text-align:center;
  color: #E56719;
}

.paused, .pause {
  color: #97B2E5 !important;
}

.rest, .break {
  color: #76C275 !important;
}

.stop {
  color: #2A3240 !important;
}

#counter-content .timer-container .timer-box#seconds {
  margin-left: auto; !important;
  margin-right: -10px !important;
  width: 212px !important;
}

#counter-content .timer-container .timer-box#milliseconds {
  margin-right: auto; !important;
  margin-left: -10px !important;
  width: 212px !important;
}

#counter-content .timer-container .timer-box#center {
  margin-left: -10px;
  margin-right: -10px;
}

#counter-content .timer-container .info-box {
  display:flex;
  display:inline-block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.info-box .info-content span:nth-child(1) {
  font-size: 10vh;
  color: #fff;
}

.info-box .info-content .info-count.paused {
  color: #152A40 !important;
}

.info-box span {
  color: #eee;
  font-size: 2vh;
  text-align:center;
}

.info-box span.info-label {
  width: 100%;
  height: auto;
  text-align:left !important;
}

#counter-content #counter-other-info {
  display: flex;
  width: auto;
}

/* Counter Controls */
#counter-controls {
  display: flex;
  width: 65%;
  height: auto;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

#counter-controls > button {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: #435057;
  font-size: 20px;
  width: 150px;
  height: 100px;
}

#counter-controls > button:hover {
  background: #E56719;
}

/** Workout List Mobile Style **/
.fmt-list-container {
  display: block;
  overflow: hidden;
}

.list-items {
  max-height: 350px;
  overflow-x: hidden;
  background: #ddd;
}

.list-items::-webkit-scrollbar {
  width: 5px;
}

.list-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.list-items::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
 
.fmt-add-btn {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.fmt-add-btn button {
  font-size: 1em;
}

.fmt-search-list {
  width: 100%;
  height: auto;
  margin-bottom: 1px;
}

.fmt-search-list input {
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 2px;
}

.fmt-list-item {
  display: table;
  background: #eee;
  margin:1px;
  padding: 5px;
}

.fmt-list-item div {
  display: table-cell;
  vertical-align:middle;
  width: 20%;
  height: 50px;
  margin: 5px;
  font-size: 1.2em;
  font-family: Arial;
  padding: 5px;
}

.fmt-list-item div:nth-child(3) {
  width: 10%;
}
/** Workout List Mobile Style End **/

/** Exercise List Mobile Style **/
#routine-list {
  display:block;
  min-height: 400px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

#routine-list > input {
  width: 100%;
  height: auto;
  font-size: 1.2em;
  padding: 5px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
}

#accordion input.selector {
  display: none;
}

#accordion label {
  background: #fff;
  display: table;
  font-size: 15px;;
  font-family: Arial;
  padding: 10px;
  z-index: 20;
  width: 100%;
  box-sizing: border-box;
}

#accordion label.selected {
  background: #ff7f50 !important;
}

#accordion label span {
  display: table-cell;
  text-align:left;
  vertical-align:middle;
  font-size: 16px;
}

#accordion label span:nth-child(1) {
  text-align:center;
  width: 10%;
}

#accordion label span:nth-child(2) {
  text-align:left;
  width: 20%;
}

#accordion label span:nth-child(3) {
  text-align:left;
  width: 10%;
}

#accordion label span:nth-child(4) {
  text-align:right;
  width: 20%;
}

#accordion div.accordion-item {
  width: auto;
  border-bottom: 1px solid #ddd;
}

#accordion article {
  height: 0;
  overflow: hidden;
}

#accordion input:checked + label {
  background: #ddd;
}

#accordion input:checked ~ article {
  height: auto;
  background: #fff;
  padding: 2px;
}

#accordion input:checked ~ article .item {
  display:table;
  width: 100%;
}

#accordion input:checked ~ article .item span {
  font-size: 16px; 
  display:table-cell;
  width: 50%;
  color: #222;
  font-family: Arial;
  padding: 5px;
}
/** Exercise List Mobile End **/

@media only screen and (max-width: 1024px) {
  .info-box .info-content span:nth-child(1) {
    font-size: 6vw;
    font-family: 'Arial';
    color: #fff;
  }
}

@media only screen and (min-width: 736px) and (max-width: 736px) and (min-height: 414px) and (max-height: 414px) {
   #state-label h1, h2, h3, h4, h5 {
    font-size: 35px;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
    margin: 50px 0 0 0;
  }

  #counter-information #information-box {
    float: left;
    position: absolute;
    top:20px;
    left:5px;
    height: 30vh;
    width: 25vw;
  }

  #counter-information #information-box > iframe {
    width: inherit;
    height: inherit;
  }
  
  .info-box span {
    font-size: 10px;
  }
  
  .info-box .info-content span:nth-child(1) {
    font-size: 6vw;
    font-family: 'Arial';
    color: #fff;
  }
  
  #counter-controls > button {
    font-size: 10px;
    width: 60px !important;
    height: 55px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  #counter-content .timer-container .info-box {
    display:flex;
    display:inline-block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-content .timer-container .timer-box {
    display:inline-block;
    padding: 0;
    margin:0;
    font-size: 10vw;
    font-family: 'Arial' !important;
    text-align:center;
    color: #E56719;
    margin-left: auto;
    margin-right: auto;
  }

  #state-label h3 {
    font-size: 3em;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
  }

  #counter-content .timer-container .timer-box#seconds {
    margin-right: -35px !important;
    margin-left: auto !important;
  }

  #counter-content .timer-container .timer-box#milliseconds {
    margin-left: -35px !important;
    margin-right: auto !important;
  }

  #counter-content .timer-container .timer-box#center {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/* Lanscape */
@media only screen and (min-width: 667px) and (max-width: 667px) {
   #state-label h1, h2, h3, h4, h5 {
    font-size: 35px;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
    margin: 50px 0 0 0;
  }

  #counter-information #information-box {
    float: left;
    position: absolute;
    top:20px;
    left:5px;
    height: 30vh;
    width: 25vw;
  }

  #counter-information #information-box > iframe {
    width: inherit;
    height: inherit;
  }
  
  .info-box span {
    font-size: 10px;
  }
  
  .info-box .info-content span:nth-child(1) {
    font-size: 6vw;
    font-family: 'Arial';
    color: #fff;
  }
  
  #counter-controls > button {
    font-size: 10px;
    width: 60px !important;
    height: 55px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  #counter-content .timer-container .info-box {
    display:flex;
    display:inline-block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-content .timer-container .timer-box {
    display:inline-block;
    padding: 0;
    margin:0;
    font-size: 9vw;
    font-family: 'Arial' !important;
    text-align:center;
    color: #E56719;
    margin-left: auto;
    margin-right: auto;
  }

  #state-label h3 {
    font-size: 3em;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
  }

  #counter-content .timer-container .timer-box#seconds {
    margin-right: -40px !important;
    margin-left: auto !important;
  }

  #counter-content .timer-container .timer-box#milliseconds {
    margin-left: -40px !important;
    margin-right: auto !important;
  }

  #counter-content .timer-container .timer-box#center {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* Media Query Fix font-size Portrait */
@media only screen and (max-width: 500px) {
   #state-label h1, h2, h3, h4, h5 {
    font-size: 35px;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
    margin: 50px 0 0 0;
  }
  #counter-information #information-box {
    position:static;
    width: 50vw;
    height: auto;
    margin-top: 50px;
    margin-bottom: -150px;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-information #information-box > iframe {
    width: inherit;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
  }
  
  .info-box span {
    font-size: 10px;
  }
  
  .info-box .info-content span:nth-child(1) {
    font-size: 6vw;
    font-family: 'Arial';
    color: #fff;
  }
  
  #counter-controls > button {
    font-size: 10px;
    width: 60px !important;
    height: 55px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  #counter-content .timer-container .info-box {
    display:flex;
    display:inline-block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-content .timer-container .timer-box {
    display:inline-block;
    padding: 0;
    margin:0;
    font-size: 20vw;
    font-family: 'Arial' !important;
    text-align:center;
    color: #E56719;
    margin-left: auto;
    margin-right: auto;
  }

  #state-label h3 {
    font-size: 6em;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
    margin: 150px 0 0 0;
  }

  #counter-content .timer-container .timer-box#seconds {
    margin-right: -35px !important;
    margin-left: 0;
  }

  #counter-content .timer-container .timer-box#milliseconds {
    margin-left: -35px !important;
    margin-right: 0;
  }

  #counter-content .timer-container .timer-box#center {
    margin-left: -10px;
    margin-right: -10px;
  }
}

/* 275 Break point */
@media only screen and (max-width: 304px) {
  #state-label h1, h2, h3, h4, h5 {
    font-size: 35px;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
    margin: 50px 0 0 0;
  }
  
  .info-box span {
    font-size: 8px;
  }
  
  .info-box .info-content span:nth-child(1) {
    font-size: 2vw;
    font-family: 'Arial';
    color: indianred;
  }
   
  #counter-controls > button {
    font-size: 10px;
    width: 60px !important;
    height: 50px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }

  #counter-information #information-box {
    position:static;
    width: 20vw;
    height: auto;
    margin-bottom: -150px;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-information #information-box > iframe {
    width: inherit;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-content .timer-container .info-box {
    display:flex;
    display:inline-block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #counter-content .timer-container .timer-box {
    display:inline-block;
    padding: 0;
    margin:0;
    font-size: 20vw;
    font-family: 'Arial' !important;
    text-align:center;
    color: #E56719;
    margin-left: auto;
    margin-right: auto;
  }

  #state-label h3 {
    font-size: 6em;
    color: #ddd;
    font-family: 'Arial';
    text-align:center;
    padding:0;
    margin: 100px 0 0 0;
  }

  #counter-content .timer-container .timer-box#seconds {
    margin-left: -10px !important;
    margin-right: 0;
  }

  #counter-content .timer-container .timer-box#milliseconds {
    margin-right: -10px !important; 
    margin-left: 0;
  }

  #counter-content .timer-container .timer-box#center {
    margin-left: -10px;
    margin-right: -10px;
  }
}
